.estilopie {
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
.texto{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 17px;
    text-align: left;
    color: "#ffffff";
}